@model AnnoucementUpdateDto
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Duyuru Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="AmouncementID" />
    <label>Duyuru Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>İçerik</label>
    <input type="text" asp-for="Content" class="form-control" />
    <span asp-validation-for="Content" class="text-danger"></span>
    <button class="btn btn-outline-success">Duyuru Güncelle</button>
</form>