@using EntityLayer.Concrete
@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    img {border-radius: 50%;}

    tbody tr:hover
    {
        background-color: rgb(105, 108, 255);
        color: #ffff;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Görsel</th>
            <th>Ad Soyad</th>
            <th>Sorumlu Olduğu Rotalar</th>
            <th>Durum</th>
            <th>Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td><img src="@item.Image" height="100" width="100" /></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                @{
                    if (item.Status == true)
                    {
                            <td><a href="/Admin/Guide/ChangeToGuideStatus/@item.GuideID" class="btn btn-outline-danger">Pasif Yap</a></td>
                    }
                    else
                    {
                            <td><a href="/Admin/Guide/ChangeToGuideStatus/@item.GuideID" class="btn btn-outline-success">Aktif Yap</a></td>
                    }
                }
                <td><a href="/Admin/Guide/EditGıide/" class="btn btn-outline-info">Düzenle</a></td>
            </tr>
        }
    </tbody>
</table>




<a href="/Admin/Guide/AddGuide/" class="btn btn-outline-success">Yeni Rehber Ekle</a>


