@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    tbody tr:hover {
        background-color: rgb(105, 108, 255);
        color: #ffff;
    }
</style>

<div class="card" style="background-color:transparent">
    <h5 class="card-header">Tur Rotaları</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Şehir</th>
                        <th>Fiyat</th>
                        <th>Kapasite</th>
                        <th>Seçenekler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count = count + 1;
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@count</strong>
                            </td>
                            <td>@item.City</td>
                            <td>@item.Price</td>
                            <td>@item.Capacity</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                        class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded" style="color:black"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/Destination/UpdateDestination/@item.DestinationID" ><i class="bx bx-edit-alt me-1"></i> Düzenle</a>
                                        <a class="dropdown-item" href="/Admin/Destination/DeleteDestination/@item.DestinationID"><i class="bx bx-trash me-1"></i> Sil</a>
                                        <a class="dropdown-item" href="/Destination/DestinationDetails/@item.DestinationID"><i class="bx bxs-arrow-from-right me-1"></i> Siteye Git</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<br />

<a class="btn btn-outline-primary" href="/Admin/Destination/AddDestination"><i class="bx bx-add-to-queue"></i> Yeni Tur Rotası Ekle</a>


