@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "GetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetById</h1>

<h1>@Model.GuideID</h1>
<h1>@Model.Name</h1>
<h1>@Model.Image</h1>